/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Common
# header


--------------------------------------------------------------*/
body {
  font-family: 'Open Sans', 'sans-serif';
  color: #444444;
  font-size: 16px;
  line-height: 28px; }

a:active,
a:hover,
a:focus,
a:visited, a {
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans'; }

.fix {
  overflow: hidden; }

p {
  font-size: 16px;
  color: #097AFE;
  line-height: 1.75;
  margin-bottom: 20px; }

button {
  cursor: pointer; }

input:focus, textarea:focus, button:focus {
  outline: none;
  border: 1px solid #FE6F09; }

dl, ol, ul {
  margin: 0 !important;
  padding: 0 !important; }

@media (min-width: 992px) {
  .navigation {
    display: block !important; } }
.site-header {
  background-position: left bottom !important;
  background-size: cover !important;
  background-repeat: no-repeat; }

img.img-100 {
  width: 100%; }

.ht-contact-list {
  list-style: none;
  padding-top: 15px !important; }
  .ht-contact-list li {
    font-size: 14px;
    color: #fff;
    padding: 0 10px;
    border-left: 1px solid #959595; }
    .ht-contact-list li:first-child {
      border: 0 none; }
    .ht-contact-list li i {
      color: #097AFE;
      font-size: 12px;
      margin-right: 5px; }
    .ht-contact-list li a {
      display: inline-block;
      color: #fff; }

ul.main-menu {
  list-style: none;
  position: relative; }
  ul.main-menu::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: #fd710e;
    background: linear-gradient(-90deg, #fd710e 0%, rgba(107, 124, 116, 0) 100%); }
  ul.main-menu li a {
    display: block;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    padding: 10px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    ul.main-menu li a:hover {
      color: #FE6F09; }
    ul.main-menu li a i {
      margin-left: 3px; }
  ul.main-menu li.highlight-btn a {
    padding: 10px 20px 10px 36px;
    background: #FE6F09;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 12% 100%); }
    ul.main-menu li.highlight-btn a:hover {
      color: #fff;
      background: #FF791B; }

.hero-area {
  padding: 75px 0 196px; }

.hero-content h1 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  line-height: 1.4; }
.hero-content a {
  display: block;
  color: #FE6F09;
  font-weight: 600;
  font-size: 16px; }

.hero-form {
  background: #F5F7FA;
  padding: 30px 20px;
  width: 378px;
  margin-left: auto;
  border-radius: 8px; }

.form-field {
  margin-bottom: 15px; }
  .form-field label {
    display: inline-block;
    font-size: 12px;
    color: #232222; }
  .form-field input.hf-input {
    display: block;
    width: 100%;
    height: 38px;
    background: #FFFFFF;
    border-radius: 5px;
    border: 1px solid transparent;
    margin-top: 5px;
    font-size: 12px;
    color: #232222; }
    .form-field input.hf-input::placeholder, .form-field input.hf-input::-webkit-input-placeholder {
      font-size: 10px;
      color: #8C8C8C; }
  .form-field .hf-submit {
    display: block;
    width: 100%;
    padding: 12px 5px;
    font-weight: 600;
    color: #fff;
    background: #097AFE;
    border-radius: 5px;
    border: 0 none;
    margin-top: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .form-field .hf-submit:hover {
      background: #1380FF; }

.radio-field {
  padding-top: 15px;
  border-top: 1px solid #EAEBED; }
  .radio-field span {
    font-size: 12px;
    color: #000;
    display: inline-block;
    margin-right: 5px;
    line-height: 1; }
  .radio-field label {
    display: inline-flex;
    align-items: center;
    margin-right: 15px;
    font-size: 10px;
    color: #8C8C8C;
    margin-bottom: -5px; }
  .radio-field input {
    margin-right: 5px;
    color: #FE6F09; }

.intro-sec {
  padding: 100px 0; }

.sec-intro {
  font-size: 16px;
  color: #FE6F09;
  display: block;
  margin-bottom: 5px; }

.section-head {
  margin-bottom: 60px; }

.section-title {
  font-weight: 600;
  color: #000;
  font-size: 28px; }

.intro-content-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 70px; }
  .intro-content-wrap img.ic-arrow {
    position: absolute; }
    .intro-content-wrap img.ic-arrow.ic-arrow1 {
      left: 310px; }
    .intro-content-wrap img.ic-arrow.ic-arrow2 {
      right: 310px; }
  .intro-content-wrap .intro-content {
    display: block;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: 4px dashed #E7E8EA;
    display: flex;
    justify-content: center;
    align-items: center; }
    .intro-content-wrap .intro-content .intro-inner {
      background: #F5F7FA;
      text-align: center;
      border-radius: 50%;
      width: 194px;
      height: 194px;
      padding: 10px; }
      .intro-content-wrap .intro-content .intro-inner img {
        margin-top: 10px; }
      .intro-content-wrap .intro-content .intro-inner h3 {
        color: #0A7AFE;
        font-size: 16px;
        margin: 10px 0;
        font-weight: 600; }
      .intro-content-wrap .intro-content .intro-inner h4 {
        color: #000;
        font-size: 16px;
        margin: 5px 0;
        font-weight: 600; }

a.intro-link {
  display: inline-block;
  padding: 15px 65px;
  background: #097AFE;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px; }
  a.intro-link:hover {
    background: #1380FF; }

.solution-sec {
  background: #F2F2F2;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%); }

.solution-outer {
  background: #F5F7FA;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  padding: 70px 0 125px; }

.solutin-slide {
  margin: 0 25px; }
  .solutin-slide .solution-inner {
    margin: -120px 20px 0;
    position: relative;
    background-size: cover !important; }
    .solutin-slide .solution-inner img {
      margin-left: auto;
      display: block;
      transform: translate(-20px, -30px); }
    .solutin-slide .solution-inner h3 {
      font-size: 20px;
      font-weight: 600;
      color: #000;
      padding: 15px;
      margin: 0; }
    .solutin-slide .solution-inner p {
      margin: 0 15px 25px;
      font-size: 14px;
      color: #686868; }
    .solutin-slide .solution-inner .solution-link-area {
      text-align: right; }
      .solutin-slide .solution-inner .solution-link-area a {
        display: inline-block;
        padding: 15px 30px;
        background: #097AFE;
        color: #fff;
        font-size: 14px;
        color: #fff;
        clip-path: polygon(8% 1%, 100% 0, 100% 100%, 0 100%);
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        .solutin-slide .solution-inner .solution-link-area a:hover {
          background: #1380FF; }

ul.solution-dots {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-top: 70px !important; }
  ul.solution-dots li button {
    font-size: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ABABAB;
    background: transparent;
    margin: 0 5px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  ul.solution-dots li.slick-active button {
    background: #097AFE;
    border-color: #097AFE; }

.map-sec {
  padding: 80px 0 200px;
  background-position: bottom center !important;
  background-repeat: no-repeat !important; }

.conter-content span {
  display: block;
  font-size: 28px;
  font-weight: 700;
  color: #FE6F09;
  margin: 5px 0; }
.conter-content p {
  font-size: 16px;
  color: #000;
  margin: 0; }

.oppotunity-sec {
  padding: 10px 0 90px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  position: relative; }
  .oppotunity-sec img.opt-car {
    position: absolute;
    right: 0;
    bottom: -120px; }

.opt-content ul.opt-list {
  list-style: none;
  margin-top: 25px !important; }
  .opt-content ul.opt-list li {
    font-size: 18px;
    color: #797171;
    margin-bottom: 15px; }
    .opt-content ul.opt-list li i {
      color: #097AFE;
      margin-right: 5px; }

.opt-form {
  width: 510px;
  margin-left: auto;
  background: #080C24;
  padding: 30px 20px;
  border-radius: 8px;
  position: relative; }

.opt-field {
  margin-bottom: 15px; }
  .opt-field label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #FFFFFF; }
  .opt-field .nice-select {
    width: 100%;
    display: block;
    float: none;
    height: 50px;
    background: #484B5D;
    border-radius: 5px;
    border: 1px solid transparent; }
    .opt-field .nice-select span.current {
      font-size: 14px;
      color: #C7C3C3;
      line-height: 47px; }
    .opt-field .nice-select .list {
      width: 100%; }
  .opt-field .range-slider-wrap {
    width: 95%;
    margin-right: 5%; }
  .opt-field .ui-widget.ui-widget-content {
    height: 13px;
    background: #fff;
    border-radius: 30px;
    border: 0 none;
    padding: 0; }
  .opt-field .ui-slider-horizontal .ui-slider-range {
    background: #FE6F09; }
  .opt-field .ui-slider-horizontal .ui-slider-handle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
    border: 5px solid #FE6F09; }
  .opt-field .ui-state-hover, .opt-field .ui-widget-content .ui-state-focus {
    color: #FE6F09;
    outline: none; }
  .opt-field .range-value input {
    width: 100%;
    height: 43px;
    background: #484B5D;
    font-size: 14px;
    color: #C7C3C3;
    text-align: center;
    border: 0 none;
    border-radius: 5px; }
  .opt-field.range-slider-area {
    padding-bottom: 20px; }
  .opt-field .opt-single-field {
    width: 90%; }
    .opt-field .opt-single-field input {
      width: 90%;
      border: 1px solid transparent;
      height: 43px;
      background: #484B5D;
      font-size: 14px;
      color: #C7C3C3;
      border-radius: 5px;
      padding-left: 10px; }
  .opt-field button.opt-submit {
    margin-top: 25px;
    padding: 16px 42px;
    background: #097AFE;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border: 0 none; }
    .opt-field button.opt-submit:hover {
      background: #1380FF; }

.testimony-wrap {
  box-shadow: 4px 4px 40px #f1f1f1; }

.testimony-sec {
  padding: 100px 0 70px; }

.testimony-img {
  width: 40%; }

.testimony-slider {
  width: 60%;
  padding: 30px 60px 5px 30px; }
  .testimony-slider .testi-quote {
    margin-right: 10px; }
    .testimony-slider .testi-quote span {
      font-size: 70px;
      font-size: 700;
      color: #097AFE;
      display: inline-block; }
  .testimony-slider .testi-text-content p {
    font-size: 16px;
    color: #595954;
    margin-bottom: 30px; }
  .testimony-slider .testi-text-content span.testi-author {
    font-size: 12px;
    color: #FE6F09;
    display: block;
    line-height: 1; }
  .testimony-slider .testi-text-content span.testi-desig {
    font-size: 12px;
    color: #595954; }

.testimony-slide {
  margin: 10px 0; }

.testi-dots {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  list-style: none; }
  .testi-dots li {
    margin: 0;
    line-height: 1; }
    .testi-dots li button {
      font-size: 0;
      width: 12px;
      height: 12px;
      border: 1px solid #8C8C8C;
      background: transparent;
      border-radius: 50%;
      margin: 0;
      line-height: 1;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    .testi-dots li.slick-active button {
      background: #FE6F09;
      border-color: #FE6F09; }

.blog-sec {
  padding: 70px 0 140px; }

.blog-inner {
  margin: -120px 20px 0;
  background: #fff;
  z-index: 999;
  position: relative;
  padding: 5px 15px 25px;
  -webkit-box-shadow: 4px 4px 20px #e9f3ff;
  box-shadow: 4px 4px 20px #e9f3ff;
  z-index: 9999; }
  .blog-inner::before {
    content: '';
    display: block;
    width: calc(100% + 1px);
    height: 50px;
    background: #fff;
    position: absolute;
    left: -1px;
    top: -50px;
    clip-path: polygon(0 100%, 100% 1%, 100% 100%, 0% 100%); }
  .blog-inner span {
    color: #595954;
    font-size: 14px;
    font-weight: 500; }
  .blog-inner h2 {
    font-size: 20px;
    font-weight: 500;
    color: #21294E; }
    .blog-inner h2 a {
      display: block;
      color: #21294E; }
  .blog-inner p {
    font-size: 14px;
    color: #9B99A9; }
  .blog-inner .blog-link-area {
    margin-bottom: -36px; }
  .blog-inner a.blog-link {
    display: inline-block;
    padding: 12px 42px;
    background: #FE6F09;
    font-size: 14px;
    color: #fff;
    margin-bottom: -30px; }

.footer-top {
  background: #072349;
  padding: 55px 0; }
  .footer-top .ft-left h2 {
    font-size: 40px;
    font-weight: 600;
    color: #fff; }
  .footer-top .ft-left p {
    font-size: 16px;
    color: #fff; }
  .footer-top .ft-right a {
    display: inline-block;
    padding: 15px 32px;
    line-height: 1;
    font-size: 14px;
    color: #fff;
    background: #097AFE;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .footer-top .ft-right a:hover {
      background: #1380FF; }
    .footer-top .ft-right a i {
      margin-left: 10px; }

.footer-wrap {
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important; }

.footer-main-content {
  padding: 50px 0; }

.footer-content img.footer-logo {
  margin-bottom: 15px; }
.footer-content p {
  font-size: 14px;
  color: #fff; }
.footer-content .footer-title {
  position: relative;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 30px; }
  .footer-content .footer-title::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 40px;
    line-height: 1.4;
    background: #097AFE; }
.footer-content .fs-form input {
  width: 90%;
  height: 50px;
  border: 1px solid #fff;
  color: #fff;
  padding-left: 15px;
  font-size: 14px;
  background: transparent;
  border-radius: 5px; }
  .footer-content .fs-form input::placeholder, .footer-content .fs-form input::-webkit-input-placeholder {
    color: #fff;
    font-size: 14px; }
.footer-content .fs-form button {
  padding: 5px 25px;
  border-color: transparent;
  background: #097AFE;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  margin-left: -15px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .footer-content .fs-form button:hover {
    background: #1380FF; }
.footer-content .footer-social {
  margin-top: 20px; }
  .footer-content .footer-social a {
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
    color: #fff;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .footer-content .footer-social a:hover {
      color: #097AFE; }
.footer-content ul.footer-contact {
  list-style: none;
  margin-bottom: 20px !important; }
  .footer-content ul.footer-contact li {
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px; }
    .footer-content ul.footer-contact li i {
      margin-right: 5px;
      color: #097AFE; }

.footer-bottom {
  padding: 30px 0;
  border-top: 1px solid #15325A; }
  .footer-bottom p {
    font-size: 12px;
    color: #fff;
    margin: 0; }

.page-hero-area {
  padding: 100px 0 125px; }
  .page-hero-area h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #fff; }

.step-details-sec {
  padding: 40px 0 80px;
  position: relative;
  background: #F5F7FA; }
  .step-details-sec img.step-line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%; }

.step-details-content {
  padding-top: 45px; }
  .step-details-content h1 {
    font-size: 96px;
    font-weight: 700;
    color: #ECE7E7;
    margin-bottom: -50px; }
  .step-details-content h3 {
    font-size: 22px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px; }
  .step-details-content p {
    font-size: 16px;
    color: #595954; }
  .step-details-content a {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    padding: 15px 34px;
    background: #097AFE;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .step-details-content a:hover {
      background: #1380FF; }
    .step-details-content a i {
      margin-left: 5px; }

.stc-left {
  margin-right: 50px; }

.stc-right {
  margin-left: 50px; }

.step-img-right {
  text-align: right; }

.step-details-item + .step-details-item {
  margin-top: 70px; }

@media (max-width: 1399px) {
  .intro-content-wrap img.ic-arrow.ic-arrow1 {
    left: 260px; }

  .intro-content-wrap img.ic-arrow.ic-arrow2 {
    right: 260px; } }
@media (max-width: 991px) {
  nav.navigation {
    position: absolute;
    left: 0;
    width: 100%;
    background: #262626;
    top: 72px;
    display: none;
    margin: 10px; }

  .site-headder-wrap {
    position: relative; }

  .menu-toggle i {
    font-size: 26px;
    cursor: pointer;
    color: #FE6F09; }

  ul.main-menu li.highlight-btn a {
    clip-path: none; }

  .hero-form {
    margin: 30px auto 0; }

  .intro-content-wrap {
    display: block; }

  .intro-content-wrap .intro-content {
    margin: 0 auto 200px; }
    .intro-content-wrap .intro-content:last-child {
      margin-bottom: 0; }

  .intro-content-wrap img.ic-arrow {
    left: 50%;
    transform: translateX(-50%) rotate(90deg); }

  .intro-content-wrap img.ic-arrow.ic-arrow1 {
    left: 50%;
    top: 320px; }

  .intro-content-wrap img.ic-arrow.ic-arrow2 {
    left: 50%;
    bottom: 320px; }

  .conter-content {
    margin-bottom: 30px; }

  .opt-form {
    margin: 40px auto 0; }

  .testimony-img, .testimony-slider {
    width: 100%; }

  .blog-content {
    margin-bottom: 70px; }

  .blog-inner::before {
    top: -49px; }

  .footer-top-wrap {
    text-align: center; }

  .footer-content {
    margin-bottom: 40px; }

  .step-details-sec img.step-line {
    display: none; }

  .step-img {
    text-align: center;
    margin-bottom: 40px; }
    .step-img.step-img-right {
      text-align: center; }

  .step-details-item:nth-child(odd) .row {
    flex-wrap: wrap-reverse; } }
@media (max-width: 767px) {
  .opt-form {
    width: 100%; }

  .solutin-slide {
    margin: 0; } }
@media (max-width: 575px) {
  .range-slider-wrap {
    margin-bottom: 20px; }

  .opt-field .opt-single-field {
    margin-bottom: 20px;
    width: 100%;
    margin-right: 0; }

  .opt-field .opt-single-field input {
    width: 100%; }

  .footer-top .ft-left h2 {
    font-size: 28px; } }
@media (max-width: 486px) {
  .opt-form {
    width: 100%; }

  .hero-content h1 {
    font-size: 24px; }

  .hero-form {
    width: 100%; }

  .section-title {
    font-size: 22px; }

  .opt-content ul.opt-list li {
    font-size: 14px; }

  .solutin-slide .solution-inner h3 {
    font-size: 18px; }

  .page-hero-area h2 {
    font-size: 24px; } }

/*# sourceMappingURL=style.css.map */
